@font-face {
    font-family: 'ArialBlack';
    src: url('fonts/ariblk.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'ArialBold';
    src: url('fonts/Arial Bold.ttf');
}

:root {
    --background-color: #FFF2EB;
    --primary-brown: #776760;
    --secondary-teal: #295A58;
    --body-text-brown: #5D514B;
    --primary-font: 'ArialBlack', sans-serif;
    --secondary-font: 'Poppins-regular', sans-serif;
    --tertiary-font: 'ArialBold', sans-serif;
}


body {
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header nav ul {
    display: flex;
    gap: 2.5em;
    list-style-type: none;
    justify-content: flex-start;
}

header nav ul li {
    font-size: .8em;
    font-family: var(--primary-font);
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-brown);
}

header nav ul li a.active {
    border-bottom: 0.5em solid var(--secondary-teal);
    padding-bottom: 2px; 
    animation: linkunderlineanimation 1s ease-in-out;   
}

@keyframes linkunderlineanimation {
    50% {opacity: 0;}
}

.horizontal-line {
    border-top: 0.2em solid var(--primary-brown); /* Adjust to desired color and thickness */
    width: 100%; /* Adjust to desired width */
    margin-top: -0.75em; /* Adjust this value until the line is at the desired position */
}
