@font-face {
    font-family: 'ArialBlack';
    src: url('fonts/ariblk.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'ArialBold';
    src: url('fonts/Arial Bold.ttf');
}

:root {
    --background-color: #FFF2EB;
    --primary-brown: #776760;
    --secondary-teal: #295A58;
    --body-text-brown: #5D514B;
    --primary-font: 'ArialBlack', sans-serif;
    --secondary-font: 'Poppins-regular', sans-serif;
    --tertiary-font: 'ArialBold', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 35%;
    margin-left: 6.5em;
    margin-top: 1em;
    display: block;
}

header nav ul {
    display: flex;
    gap: 2.5em;
    list-style-type: none;
    justify-content: flex-start;
}

header nav ul li {
    font-size: .8em;
    font-family: var(--primary-font);
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-brown);
}

header nav ul li a.active {
    border-bottom: 0.5em solid var(--secondary-teal);
    padding-bottom: 2px; 
    animation: linkanimation 1s ease-in-out;
}

@keyframes linkanimation {
    50% {opacity: 0;}
}

.horizontal-line {
    border-top: 0.2em solid var(--primary-brown); /* Adjust to desired color and thickness */
    width: 100%; /* Adjust to desired width */
    margin-top: -0.75em; /* Adjust this value until the line is at the desired position */
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:.75em 1.75em 1.75em 1.75em;
}

main section h1 {
    font-family: var(--primary-font);
    color: var(--secondary-teal);
    font-size: 1.5em;
    margin:0.5em;

}

main section h2 {
    font-family: var(--primary-font);
    color: var(--secondary-teal);
    font-size: 1em;
    margin:0.5em;

}


main section .kledingrek{
    height:10em;
    width:17.5em;
    object-fit:cover;
}

main section p {
    color: var(--body-text-brown);
    font-family: var(--secondary-font);
    font-size: .75em;    
    margin:1.5em;
}

.colored-square {
    margin: 2em 2em 2.5em 2em;
    width: 100%; 
    height: 7.5em; 
    background-color: var(--secondary-teal);
    font-size: .85em;
    font-family: var(--tertiary-font); 
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main section .ruilhoeklogo {
    width:17.5em;
}

.image-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5em;
}

.gridelement {
    width:9em;
}

footer {
    background-color: var(--secondary-teal);
    font-family: var(--primary-font);
    color: var(--background-color);
    padding:3em;
    font-size: .25em;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}


.footerpart {
    text-align: end;
    display: flex;
}

.instagramlogo {
    width: 10em;
}

.footerlogo {
    justify-content: center;
    width: 25%;
}